# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\henri\OneDrive\Documents\#CODE\SmartCAR\GrabCrab_smartcar\DC_Control\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
